body {
    margin: 0;
}

#root {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    display: flex;
    gap: 60px;
}

.board {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);
    width: 501px;
    height: 501px;
    border: 3px solid black;
}

.cell {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    
}
 
.right-border {
    border-right: 3px solid black;
}

.bottom-border {
    border-bottom: 3px solid black;
}

.clicked {
    background-color: aqua;
}

#number-pad {
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    border: 3px solid black;
}

.number-pad-num {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50px;
    cursor: pointer;
}
